<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--<div class = "task_container">-->
<table class="headerTable">
  <div class="title">
    <h2>Tasks</h2>
  </div>
  <td>
    <div class="form-group has-feedback has-search" style="margin-top: 15px;">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Searching tasks by name"/>
    </div>
  </td>
</table>
<!--Display the list of task -->
<!--  Table-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Deadline</th>
    <th scope="col">Details</th>

  </tr>
  </thead>
  <tbody *ngFor="let task of tasks | filter: searchText">
  <th class="row-table" scope="row">{{task.id}}</th>
  <th class="row-table" scope="row">{{task.name}}</th>
  <th class="row-table" scope="row">{{task.description}}</th>
  <th class="row-table" scope="row">{{task.deadline}}</th>
  <td class="row-table"> <button class="btn btn-light btn-outline-dark" data-toggle="modal" data-target="#taskDetial"
                                 [class.selected]="task === currentTask"
                                 (click)="getTask(task.id)"> Details</button>
  </td>
  </tbody>

</table>


<div style="width: 400px; margin: auto;">
  <div *ngIf="currentTask" class="edit-form">

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
          [(ngModel)]="currentTask.name" name="name"/>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          [(ngModel)]="currentTask.description" name="description"/>
      </div>

      <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="text" class="form-control" id="deadline"
          [(ngModel)]="currentTask.deadline" name="deadline"/>
      </div>

    </form>

    <button class="badge badge-danger mr-2"
            (click)="deleteTask()"> Delete </button>

    <button type="submit" class="badge badge-success"
      (click)="updateTask()"> Update  </button>
     <p>{{ message }}</p>
  </div>

</div>


